<%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main class="dashboard">
        <h1>Dashboard</h1>
        <p>Welcome, <%= name %></p>
    </main>
<%- include('partials/footer') %>