body::-webkit-scrollbar {
    width: 7px;              
}

body::-webkit-scrollbar-track {
    background: #C6B79B;        
}

body::-webkit-scrollbar-thumb {
    background-color: #820000;   
    border-radius: 5px; 
    height: 30px;      
}

.loadermain {
    height: 100vh;
    background-color: #C6B79B;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.dash {
    margin: 0 15px;
    width: 35px;
    height: 15px;
    border-radius: 8px;
    background: #BA0F30;
    box-shadow: 0 0 10px 0 #3B0918;
}
.moja {
    margin-right: -18px;
    transform-origin: center left;
    background-color: #FF2511;
    animation: spin 3s linear infinite;  
}
.mbili {
    transform-origin: center right;
    animation: spin2 3s linear infinite;
    background-color: #BA0F30;
    animation-delay: .2s;
}
.tatu {
    transform-origin: center right;
    background-color: #E0144C;
    animation: spin3 3s linear infinite;
    animation-delay: .3s;
}
.nne {
    transform-origin: center right;
    animation: spin4 3s linear infinite;
    background-color: #820000;
    animation-delay: .4s;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(360deg);
    }
    30% {
        transform: rotate(370deg);
    }
    35% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-180deg);
    }
    35% {
        transform: rotate(-190deg);
    }
    40% {
        transform: rotate(-180deg);
    }
    78% {
        transform: rotate(-180deg);
    }
    95% {
        transform: rotate(-360deg);
    }
    98% {
        transform: rotate(-370deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes spin3 {
    0% {
        transform: rotate(0deg);
    }
    27% {
        transform: rotate(0deg);  
    }
    40% {
        transform: rotate(180deg);
    }
    45% {
        transform: rotate(190deg);
    }
    50% {
        transform: rotate(180deg);
    }
    62% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    80% {
        transform: rotate(370deg);
    }
    85% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin4 {
    0% {
        transform: rotate(0deg);
    }
    38% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(-360deg);
    }
    65% {
        transform: rotate(-370deg);
    }
    75% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
.nav {
    height: 125px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C6B79B;
    position: relative;
}
.nav .nav-header {
    display: inline;
}
.nav .nav-header .nav-title a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 45px;
    color: #46000E;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
}
.nav .nav-header .nav-title img {
    height: 160px;
}
.nav .nav-btn {
    display: none;
}
.nav .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}
.nav .nav-links a {
    display: inline-block;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    color: #46000E;
    border-radius: 10px;
    background-color: none;
    transition: .8s;
}
.nav .nav-links a:hover {
    transition: .4s;
    background-color: #46000E80;
    border-radius: 15px;
}
.nav #nav-check {
    display: none;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 30px 0 0 0;
    text-align: center
}
footer .footer {
    max-width: 1200px;
    margin: 0 auto;
    max-height: none;
}
footer .row {
    display: flex;
    flex-wrap: wrap;
}
footer .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0 15px;
}
footer h3 {
    font-size: 20px;
    margin: 20px 0;
    color: #616161;
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer li {
    margin-bottom: 10px;
}
footer a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
footer a:hover {
    text-decoration: underline;
}
footer .copyright {
    margin-top: 20px;
    padding: 10px 0;
    font-size: 14px;
    text-transform: capitalize;
}
@media (max-width:700px) {
    .nav .nav-header .nav-title {
        font-size: 30px;
    }
    
    .nav .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 30px;
    }
    .nav .nav-btn label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav .nav-btn label:hover,.nav  #nav-check:checked ~ .nav-btn label {
        background-color: #46000E4D;
        cursor: pointer;
    }
    .nav .nav-btn label span {
        display: block;
        width: 25px;
        height: 10px;
        border-bottom: 3px solid #46000E;
    }
    .nav .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #C6B79B;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
        z-index: 99;
    }
    .nav .nav-links a {
        display: block;
        width: 100%;
    }
    .nav #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
    footer .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}