@font-face {
    font-family: 'My Regular';
    src: url(Roboto-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'My Regular';
    user-select: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    min-height: 80vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-container {
    width: 70%;
    height: fit-content;
    max-width: 500px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #900020;
    border-radius: 25px;
    color: #ffffff;
    font-size: 20px;
}

.auth-container h1 {
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
}

#hero {
    background-image: url(images/virtualbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #FFF;
    text-align: center;
}

#hero div {
    background-color: #000000d0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: none;
}

#hero h2 {
    font-size: 36px;
}

#hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

#hero .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #BA0F30;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

#hero .btn:hover {
    background-color: #46000E;
}

#features {
    background-color: #F9F9F9;
    padding: 80px 0;
    height: fit-content;
}

#features h2 {
    font-size: 36px;
    color: #46000E;
    margin-bottom: 40px;
}

.feature {
    margin-bottom: 40px;
}

.feature h3 {
    font-size: 24px;
    color: #46000E;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
    color: #46000E;
}

#about {
    background-image: url(images/cows.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    text-align: center;
}

#about .container {
    background-color: #000000d0;
    max-width: none;
    min-height: 70vh;
    height: fit-content;
    padding: 25px 20%;
}

#about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#about p {
    font-size: 18px;
}

#services {
    padding: 80px 0;
}

#services h2 {
    font-size: 36px;
    color: #46000E;
    margin-bottom: 40px;
}

#services ul {
    list-style-type: none;
    padding: 0;
}

#services li {
    font-size: 18px;
    color: #46000E;
    margin-bottom: 10px;
}

.events {
    background-image: url(images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    text-align: center;
}

.events .container {
    background-color: #000000d0;
    max-width: none;
    padding: 25px 20%;
}

.events h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.events p {
    font-size: 18px;
}

.testimonials {
    text-align: center;
    padding: 10px;
    max-width: none;
}

.testimonials h3 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #46000E;
}

.testimonials .row {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.testimonials .card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px #9000201a;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonials .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px #90002033;
    cursor: pointer;
}

.testimonials .card p {
    font-style: italic;
    color: #2a0910c0;
    margin-bottom: 15px;
}

.testimonials .card .author {
    margin-top: 10px;
    font-weight: bold;
    font-style: normal;
    color: #46000E;
}

.testimonials .card .region {
    font-weight: normal;
    color: #2a030a;
}

.user-auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(images/virtualbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
}

.user-auth-container .auth-container {
    width: 70%;
    height: fit-content;
    max-width: 500px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #900020;
    border-radius: 25px;
    color: #ffffff;
    font-size: 20px;
}

.user-auth-container .auth-container h1 {
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
}

.user-auth-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-auth-container input {
    padding: 10px;
    border: 2px solid #900020;
    border-radius: 5px;
}

.user-auth-container input[type="submit"] {
    background-color: #900020;
    color: #fff;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.user-auth-container .error {
    background: red;
    color: white;
    text-align: center;
    padding: 3px 10px;
    border-radius: 25px;
}

@media (max-width: 700px) {
    #contact {
        height: fit-content;
        padding: 0;
    }

    #contact-section {
        flex-direction: column;
    }

    #contact #contact-section-1,
    #contact #contact-section-2 {
        width: 100%;
    }

    .user-auth-container .auth-container {
        width: 90%;
    }

    #about .container {
        padding: 10px;
        height: fit-content;
    }
}
